@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap");
.div {
  display: flex;
  justify-content: center;
  height: 1000px;
  width: auto;
}
.background {
  background-image: url(../../../public/start_background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.divboton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.boton {
  display: flex;
  background-color: blueviolet;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
